<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{!-- <link rel="stylesheet" href="Public/CSS/Main Tailwind/custom-css.css"> --}}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="./css/Main Tailwind/Tailwind/output.css" rel="stylesheet">
  <link href="./css/index3.css" rel="stylesheet">
  <title> Budget Me Plz </title>
  <style>
    .modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }
  </style>
</head>


<body style="background-color: #ffffff">

  <header>
    {{#if data}}
    <div style="backdrop-filter: blur(5px) ; background-color: #ffffff13;" class=" pb-1 shadow-md w-full z-10 opacity-98 fixed text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800">
    {{else}}
    <div style="background-color: #ffffff;" class="shadow-md w-full z-10 opacity-98 fixed text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800">
    {{/if}}
    
      <div x-data="{ open: false }"
        class="flex flex-col max-w-screen-2xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
        <div class="p-2 flex flex-row items-center justify-between">
          {{#if isdatabase}}
          <svg id="logo-flare" width="35pt" height="35pt" version="1.1" viewBox="0 0 128 128"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m77.637 95.684v-20.371c-0.023438-2.8242 1.4336-5.5781 4.0547-7.0938 3.875-2.2383 8.8359-0.90625 11.07 2.9688 0.73438 1.2734 1.0859 2.668 1.0859 4.043v25.086 0.13672c-0.015625 1.4453-0.40625 2.7969-1.0859 3.9648-0.67578 1.168-1.6484 2.1875-2.8906 2.9219-0.039063 0.023437-0.078125 0.046875-0.11719 0.070312l-21.727 12.543c-1.1914 0.6875-2.5703 1.082-4.043 1.082-4.4727 0-8.1055-3.6328-8.1055-8.1055 0-3.0234 1.6602-5.6641 4.1133-7.0547l17.641-10.184zm-22.871-56.156c0-1.375 0.35156-2.7695 1.0859-4.043 0.73438-1.2734 1.7695-2.2734 2.957-2.9609l21.727-12.543c0.039063-0.023438 0.078125-0.046875 0.11719-0.066407 1.2578-0.70703 2.625-1.043 3.9766-1.043 1.3516-0.003906 2.7188 0.33203 3.9727 1.043 0.039063 0.023438 0.078126 0.042969 0.11719 0.066407l21.727 12.543c1.1914 0.6875 2.2227 1.6875 2.957 2.9609 2.2383 3.875 0.90625 8.8359-2.9688 11.074-2.6172 1.5117-5.7344 1.3945-8.168-0.035156l-17.641-10.184-11.391 6.5742v45.559c0 1.375-0.35156 2.7695-1.0859 4.043-0.73438 1.2734-1.7695 2.2734-2.957 2.9609l-21.727 12.543c-0.039063 0.023438-0.078125 0.046875-0.11719 0.066407-1.2578 0.70703-2.625 1.043-3.9766 1.043-1.3516 0.003906-2.7188-0.33203-3.9727-1.043-0.039063-0.023438-0.078126-0.042969-0.11719-0.066407l-21.727-12.543c-1.1914-0.6875-2.2227-1.6875-2.957-2.9609-2.2383-3.875-0.90625-8.8359 2.9688-11.074 2.6172-1.5117 5.7344-1.3945 8.168 0.035156l17.641 10.184 11.391-6.5742zm59.727 48.945c0 1.375-0.35156 2.7695-1.0859 4.043-2.2383 3.875-7.1992 5.2031-11.074 2.9688-2.6172-1.5117-4.0742-4.2695-4.0508-7.0938v-20.371l-17.645-10.184c-2.457-1.3945-4.1133-4.0312-4.1133-7.0547 0-4.4727 3.6328-8.1055 8.1055-8.1055 1.4727 0 2.8516 0.39453 4.043 1.082l21.727 12.543c0.039062 0.023438 0.078124 0.046875 0.11719 0.070313 1.2422 0.73438 2.2148 1.7539 2.8906 2.9219s1.0703 2.5195 1.0859 3.9648v0.13672 25.086zm-84.773-28.488 17.645 10.184c2.457 1.3945 4.1133 4.0312 4.1133 7.0547 0 4.4727-3.6328 8.1055-8.1055 8.1055-1.4727 0-2.8516-0.39453-4.043-1.082l-21.727-12.543c-0.039062-0.023437-0.078124-0.046875-0.11719-0.070313-1.2422-0.73437-2.2148-1.7539-2.8906-2.9219-0.67578-1.168-1.0703-2.5195-1.0859-3.9648v-0.13672-25.086c0-1.375 0.35156-2.7695 1.0859-4.043 2.2383-3.875 7.1992-5.2031 11.074-2.9688 2.6172 1.5117 4.0742 4.2695 4.0508 7.0938zm20.645-27.664v20.371c0.023438 2.8242-1.4336 5.5781-4.0547 7.0938-3.875 2.2383-8.8359 0.90625-11.07-2.9688-0.73438-1.2734-1.0859-2.668-1.0859-4.043v-25.086-0.13672c0.015625-1.4453 0.40625-2.7969 1.0859-3.9648 0.67578-1.168 1.6484-2.1875 2.8906-2.9219 0.039063-0.023437 0.078125-0.046874 0.11719-0.070312l21.727-12.543c1.1914-0.6875 2.5703-1.082 4.043-1.082 4.4727 0 8.1055 3.6328 8.1055 8.1055 0 3.0234-1.6602 5.6641-4.1133 7.0547l-17.641 10.184z"
              fill="#f01" fill-rule="evenodd" />
          </svg>
          <a id="logo-name" href="/login"
            class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">
            Budget Me Plz <br><span class="text-sm flex justify-right">Database</span> </a>
          {{else}}
          <a id="logo-name" href="/login"
            class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">
            Budget Me Plz </a>
          <svg id="logo-flare" width="35pt" height="35pt" version="1.1" viewBox="0 0 128 128"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="m77.637 95.684v-20.371c-0.023438-2.8242 1.4336-5.5781 4.0547-7.0938 3.875-2.2383 8.8359-0.90625 11.07 2.9688 0.73438 1.2734 1.0859 2.668 1.0859 4.043v25.086 0.13672c-0.015625 1.4453-0.40625 2.7969-1.0859 3.9648-0.67578 1.168-1.6484 2.1875-2.8906 2.9219-0.039063 0.023437-0.078125 0.046875-0.11719 0.070312l-21.727 12.543c-1.1914 0.6875-2.5703 1.082-4.043 1.082-4.4727 0-8.1055-3.6328-8.1055-8.1055 0-3.0234 1.6602-5.6641 4.1133-7.0547l17.641-10.184zm-22.871-56.156c0-1.375 0.35156-2.7695 1.0859-4.043 0.73438-1.2734 1.7695-2.2734 2.957-2.9609l21.727-12.543c0.039063-0.023438 0.078125-0.046875 0.11719-0.066407 1.2578-0.70703 2.625-1.043 3.9766-1.043 1.3516-0.003906 2.7188 0.33203 3.9727 1.043 0.039063 0.023438 0.078126 0.042969 0.11719 0.066407l21.727 12.543c1.1914 0.6875 2.2227 1.6875 2.957 2.9609 2.2383 3.875 0.90625 8.8359-2.9688 11.074-2.6172 1.5117-5.7344 1.3945-8.168-0.035156l-17.641-10.184-11.391 6.5742v45.559c0 1.375-0.35156 2.7695-1.0859 4.043-0.73438 1.2734-1.7695 2.2734-2.957 2.9609l-21.727 12.543c-0.039063 0.023438-0.078125 0.046875-0.11719 0.066407-1.2578 0.70703-2.625 1.043-3.9766 1.043-1.3516 0.003906-2.7188-0.33203-3.9727-1.043-0.039063-0.023438-0.078126-0.042969-0.11719-0.066407l-21.727-12.543c-1.1914-0.6875-2.2227-1.6875-2.957-2.9609-2.2383-3.875-0.90625-8.8359 2.9688-11.074 2.6172-1.5117 5.7344-1.3945 8.168 0.035156l17.641 10.184 11.391-6.5742zm59.727 48.945c0 1.375-0.35156 2.7695-1.0859 4.043-2.2383 3.875-7.1992 5.2031-11.074 2.9688-2.6172-1.5117-4.0742-4.2695-4.0508-7.0938v-20.371l-17.645-10.184c-2.457-1.3945-4.1133-4.0312-4.1133-7.0547 0-4.4727 3.6328-8.1055 8.1055-8.1055 1.4727 0 2.8516 0.39453 4.043 1.082l21.727 12.543c0.039062 0.023438 0.078124 0.046875 0.11719 0.070313 1.2422 0.73438 2.2148 1.7539 2.8906 2.9219s1.0703 2.5195 1.0859 3.9648v0.13672 25.086zm-84.773-28.488 17.645 10.184c2.457 1.3945 4.1133 4.0312 4.1133 7.0547 0 4.4727-3.6328 8.1055-8.1055 8.1055-1.4727 0-2.8516-0.39453-4.043-1.082l-21.727-12.543c-0.039062-0.023437-0.078124-0.046875-0.11719-0.070313-1.2422-0.73437-2.2148-1.7539-2.8906-2.9219-0.67578-1.168-1.0703-2.5195-1.0859-3.9648v-0.13672-25.086c0-1.375 0.35156-2.7695 1.0859-4.043 2.2383-3.875 7.1992-5.2031 11.074-2.9688 2.6172 1.5117 4.0742 4.2695 4.0508 7.0938zm20.645-27.664v20.371c0.023438 2.8242-1.4336 5.5781-4.0547 7.0938-3.875 2.2383-8.8359 0.90625-11.07-2.9688-0.73438-1.2734-1.0859-2.668-1.0859-4.043v-25.086-0.13672c0.015625-1.4453 0.40625-2.7969 1.0859-3.9648 0.67578-1.168 1.6484-2.1875 2.8906-2.9219 0.039063-0.023437 0.078125-0.046874 0.11719-0.070312l21.727-12.543c1.1914-0.6875 2.5703-1.082 4.043-1.082 4.4727 0 8.1055 3.6328 8.1055 8.1055 0 3.0234-1.6602 5.6641-4.1133 7.0547l-17.641 10.184z"
              fill="#000" fill-rule="evenodd" />
          </svg>
          <span class="p-2 inline-block text-xs italic"> "The app that makes you get your life together."
          </span>

          {{/if}}


          <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
            <?xml version="1.0" encoding="UTF-8"?>

          </button>
        </div>
        {{#if isdatabase}}
        <nav :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
          <a class="px-4 py-2 mt-2 text-sm font-semibold text-gray-900 rounded-lg md:mt-0 hover:text-gray-900 hover:bg-gray-200"
            href="/"> Leave Database </a>

        </nav>
        {{/if}}
        {{#if data}}
        <nav :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
          <span class="font-thin py-2 text-sm">Welcome, <span class="font-medium">{{data.first_name}}!</span></span>
          <?xml version="1.0" encoding="UTF-8"?>
          <svg class="pl-6" width="60pt" height="25pt" version="1.1" viewBox="0 0 175 128" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m121.68 64c0.011718-19.242-9.5703-37.223-25.547-47.941-15.98-10.715-36.25-12.762-54.047-5.4531-17.797 7.3125-30.781 23.016-34.609 41.871-3.832 18.855 1.9883 38.379 15.523 52.055h0.011719l0.035156 0.035156h-0.003906c10.82 10.945 25.57 17.105 40.965 17.105 15.391 0 30.141-6.1602 40.961-17.105l0.035156-0.035156h0.011719-0.003906c10.703-10.77 16.695-25.348 16.668-40.531zm-57.68-49.68c12.598-0.007812 24.73 4.7773 33.934 13.379 9.2031 8.6055 14.789 20.387 15.633 32.957 0.83984 12.57-3.1289 24.988-11.102 34.742-9.4141-11.578-23.543-18.301-38.465-18.301s-29.051 6.7227-38.465 18.301c-7.9727-9.7539-11.941-22.172-11.102-34.742 0.84375-12.57 6.4297-24.352 15.633-32.957 9.2031-8.6016 21.336-13.387 33.934-13.379zm-23.219 34.699c0-6.1562 2.4453-12.062 6.8008-16.418 4.3555-4.3555 10.258-6.8008 16.418-6.8008s12.062 2.4453 16.418 6.8008c4.3555 4.3555 6.8008 10.262 6.8008 16.418 0 6.1602-2.4453 12.066-6.8008 16.418-4.3555 4.3555-10.258 6.8008-16.418 6.8008-6.1562-0.003906-12.059-2.4531-16.41-6.8086-4.3555-4.3516-6.8047-10.254-6.8086-16.41z"
              fill="#9999" />
          </svg>
          <a id="logout"
            class="px-4 py-2 mr-5 mt-2 text-sm font-semibold text-gray-900 rounded-full md:mt-0 hover:text-white hover:bg-gray-700"
            href="/"> Logout </a>

        </nav>
        {{else}}
        <nav :class="{'flex': open, 'hidden': !open}"
          class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">
        </nav>
        {{/if}}

      </div>
    </div>
  </header>


  {{{ body }}}


  <footer>
  </footer>
</body>
<script src="./js/Animations/animations.js"></script>


</html>